body {
    font-family: 'Mukta';
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

li {
    padding-right: 2rem;
    margin-top: 2rem;
    color: black
}

header {
    background-image: url(imagen-fondo.jpg);
    background-size: cover;
}

.wrap {
    filter: blur(0.1px);
    filter: opacity(98%)
}

#titulo {
    margin-top:7rem;
}

button {
    font-size: 1.2rem;
    background-color: white;
}

.boton {
    border: 3px solid black;
}

.boton:hover {
    transform: scale(1.05);
    animation-name: efecto-boton;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes efecto-boton {
    0% {color:#000000;
        background-color: rgb(255, 255, 255);
        border: 3px solid rgb(0, 0, 0);
    }
    100% {color:rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(255, 255, 255);}
}

i {
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    color:rgb(29, 29, 29)
}

i:hover {
    scale: calc(1.2)
}

.foto {
    position: relative
}

.foto img{
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.foto:hover img{
    border: 2px solid rgb(65, 65, 65);
}

.caja {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 129, 98)
}

.caja:hover {
    transform: translateY(-5px);
    animation-name: efecto-caja;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.img-fondo {
    background-image: url(fondo-body.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.caja-anim {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 129, 98);
    max-width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.caja-anim:hover {
    animation-name: efecto-caja;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes efecto-caja {
    0% {color:#ffffff;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 129, 98);
    }
    100% {color:rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(0, 0, 0);}
}

.borde-bajo {
    border-bottom: 2px solid rgb(255, 129, 98)
}

main {
    padding-top: 6rem;
}

p {
    padding-left: 0.3rem;
}

.seccion-gris {
    background-color: rgb(148, 148, 148);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

footer i {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    footer i {
        margin-left: 4rem;
        margin-right: 1.9rem;
    }

    .img-fondo {
        background-image: url(fondo-body-1.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    footer i {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .img-fondo {
        background-image: url(fondo-body-2.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}